body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: bold; 
  background-color: #ffe7e0;
}

.top-bar {
  background-color: #E34F26;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  max-width: 500px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
}

.nav-links a, .dropbtn {
  color: white;
  text-decoration: none;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;
  font-weight: bold; /* Dropdown en negrita */
}

.nav-links a:hover, .dropbtn:hover {
  text-decoration: underline;
}

.dropbtn {
  background-color: #d44523;
  color: white;
  border-radius: 5px;
  padding: 8px 12px;
  position: relative;
  font-weight: bold; /* Negrita para el dropdown */
}

.dropbtn::after {
  content: '▼';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
}

.add-object {
  margin: 20px;
}

.dropbtn-green {
  background-color: #28a745; /* Color verde */
  color: white;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: bold; /* Negrita para el dropdown */
  cursor: pointer;
  appearance: none;
}

.dropbtn-green::after {
  content: '▼';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
}

.dropbtn-green:hover {
  background-color: #218838; /* Color verde oscuro al pasar el ratón */
}

.form-group {
  margin: 20px 0;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  padding: 8px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra por fuera */
}
