body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: bold; /* Todo el cuerpo en negrita */
}

.top-bar {
  background-color: #E34F26;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  max-width: 500px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
}

.nav-links a, .dropbtn {
  color: white;
  text-decoration: none;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;
  font-weight: bold; /* Dropdown en negrita */
}

.nav-links a:hover, .dropbtn:hover {
  text-decoration: underline;
}

.dropbtn {
  background-color: #d44523;
  color: white;
  border-radius: 5px;
  padding: 8px 12px;
  position: relative;
  font-weight: bold; /* Negrita para el dropdown */
}

.dropbtn::after {
  content: '▼';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
}

.input-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input-group input[type="text"] {
  padding: 5px;
  font-size: 16px;
}

#file-upload {
  display: none;
}

.custom-file-upload {
  background-color: #d44523;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.custom-file-upload:hover {
  background-color: #c43d1d;
}
/* CSS anterior... */

.add-object {
  margin: 20px;
}

.dropbtn-green {
  background-color: #28a745; /* Color verde */
  color: white;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: bold; /* Negrita para el dropdown */
  cursor: pointer;
  appearance: none;
}

.dropbtn-green::after {
  content: '▼';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
}

.dropbtn-green:hover {
  background-color: #218838; /* Color verde oscuro al pasar el ratón */
}
